body{
margin: 0;
min-height: 100vh;
height: 47vw;
    
}
.container{
    background-image: url("PuzzleGame.png");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}
.wrapp-buttons, .wrapp-buttons-tb{
    /*border: solid black;*/
    height: 100px;
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.button{
    border-radius: 2px;
    width: 75px;
    height: 75px;
    box-shadow: 3px 3px  rgba(0, 0, 0, 0.298);
}

#b3{
    margin-top: 50px;
}

#b1, #b3, #b5, #b7{
    background-image: url("Button1.png");
}

#b2, #b4, #b6{
    background-image: url("Button2.png");
}